---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Hero from "../components/Hero.astro"
import Announcement from "../components/Announcement.astro"
import SectionFeatures from "../components/SectionFeatures.astro"
---

<Layout
	title="Home | VENUS Planar Full-Size Headphone"
	description="Experience pure audio perfection with VENUS Planar Full-Size Headphones. Immerse in crystal-clear sound, advanced technology, and ultimate comfort. Elevate your music now!"
>
	<main class="min-h-screen">
		<Announcement />
		<div id="home" class="sm:bg-center bg-cover">
			<Navbar />
			<Hero />
		</div>
		<SectionFeatures />
	</main>
</Layout>
