---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Hero from "../components/Hero.astro";
---

<Layout
	title="JUPTR | Flagship Planar Magnetic Headphones | Official Product Site" 
	description="Experience pure audio perfection with JUPTR Planar Full-Size Headphones. Immerse in crystal-clear sound, advanced technology, and ultimate comfort. Elevate your music now!"
>
	<main class="min-h-screen">
		<Navbar />
		<Hero />
	</main>
</Layout>
