<section class="selection-black text-white text-center bg-neutral-900 px-4 py-4 text-sm">
  <p>Be part of the first wave of shipments starting August 4, 2023, and enjoy exclusive early bird merch with your purchase</p>
</section>
