---
const { className } = Astro.props
---
<div
  class:list={[
    "w-full h-[1px]",
    className
  ]}
  style="background: linear-gradient(90deg,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(145, 145, 150, 0.38) 50%,
    rgba(0, 0, 0, 0) 100%)"
></div>
