<section class="container mx-auto py-12 px-4 sm:px-0 flex items-center justify-center text-center flex-col">
  <h1 class="text-3xl sm:text-4xl md:text-5xl leading-9 font-medium">
    Experience the future of audio
  </h1>
  <p class="text-lg text-gray-400 font-normal my-4">
    Immerse in a revolutionary audio experience with VENUS Planar Headphone.
    <br class="hidden sm:inline" />
    Get yours today for the ultimate listening experience.
  </p>
  <div class="flex flex-row md:space-x-2">
    <a href="#buyNow" class:list={[
      "flex items-center justify-center",
      "text-black font-medium text-center",
      "bg-white hover:bg-gray-100 rounded-full",
      "focus:outline focus:outline-offset-2 focus:outline-gray-500",
      "px-5 py-2 mr-3 md:mr-0",
      "transition-colors duration-300"
    ]}>
      <span>Buy now</span>
      <span class="text-gray-400">&middot;</span>
      <span class="text-gray-500">$699</span>
    </a>
    <button class:list={[
      "text-gray-400 font-medium text-center",
      "border border-gray-800",
      "bg-transparent hover:bg-white/10 rounded-full",
      "focus:outline focus:outline-offset-2 focus:outline-gray-500",
      "px-5 py-2 mr-3 md:mr-0",
      "transition-colors duration-300"
    ]}>
      Full specs
    </button>
  </div>
  <div class="my-8">
    <img src="/headphone.png" alt="VENUS Planar Headphone" />
  </div>
</section>

<style>
  @keyframes fadeInUpSmall {
    from {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 50%, 0);
    }

    30% {
      opacity: 0;
      transform: translate3d(0, 30%, 0);
    }

    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  h1 {
    animation: fadeInUp 800ms;
  }

  p {
    animation: fadeInUp 1.3s;
  }

  img, button {
    animation: fadeInUpSmall 1s;
  }
</style>
