---
import { Icon } from "astro-icon"
---

<section class="container mx-auto py-12 px-4 sm:px-0 flex items-center justify-center text-center flex-col">
  <h1 class="text-3xl sm:text-[2.5rem] leading-9 font-medium">
    JUPTR Planar Flagship Headphone
  </h1>
  <p class="text-gray-400 my-4">
    Experience the future of audio with our groundbreaking Full-Sized Planar Headphone.
    <br class="hidden sm:inline" />
    Reserve yours now for the ultimate listening experience.
  </p>
  <div class="flex flex-row space-x-2">
    <button class:list={[
      "flex items-center justify-center",
      "font-medium rounded-full text-center",
      "text-black bg-white hover:bg-gray-100",
      "focus:ring-2 focus:outline-none focus:ring-gray-300/10",
      "px-5 py-2 mr-3 md:mr-0",
      "transition-colors duration-300"
    ]}>
    <Icon name="ion:gift-sharp" class="w-4 h-4 mr-2 mb-[1px] inline-block" />
    <span>Pre-order</span>
    <span class="text-gray-400">&middot;</span>
    <span class="text-gray-500">$699</span>
    </button>
    <button class:list={[
      "font-medium rounded-full text-center",
      "border border-gray-800",
      "text-gray-400 bg-transparent hover:bg-white/10",
      "focus:ring-2 focus:outline-none focus:ring-gray-300/10",
      "px-5 py-2 mr-3 md:mr-0",
      "transition-colors duration-300"
    ]}>
      Full specs
    </button>
  </div>
  <div class="text-sm text-center my-4 text-gray-500 font-medium">
    <p>
      Early bird also gets exclusive merchandise.*
    </p>
  </div>
  <div>
    <img src="/headphone.png" alt="JPTR Headphone" />
  </div>
</section>
