---
import { Icon } from "astro-icon"
import Menu from "./icon/Menu.astro"

const menuClass = [
  "cursor-lg block rounded py-3 px-2",
  "transition-colors duration-300",
  "text-gray-500 hover:text-white",
  "md:p-0",
]
---

<nav id="nav">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#">
      <span class="font-panchang self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        VENUS
      </span>
    </a>

    <div id="navbar-cta" class="flex md:order-2 bg-black">
      <a
        href="#buyNow"
        class:list={[
          "inline-flex items-center",
          "text-sm font-medium rounded-full text-center",
          "text-black bg-white hover:bg-gray-100",
          "focus:outline focus:outline-offset-2 focus:outline-gray-500",
          "pl-5 pr-4 py-2 mr-3 md:mr-0",
          "transition-colors duration-300"
        ]}
      >
          Buy now
          <Icon name="radix-icons:arrow-top-right" class="w-4 h-4 ml-1 inline-block text-gray-500" />
      </a>
      <button
        type="button"
        aria-expanded="false"
        aria-controls="navbar-cta"
        data-collapse-toggle="navbar-cta"
        class:list={[
          "p-2 w-10 h-10 transition-colors",
          "inline-flex items-center justify-center rounded-lg md:hidden",
          "text-sm text-gray-500 hover:bg-gray-100/10",
          "focus:outline-none focus:ring-2 focus:ring-gray-600",
        ]}
      >
          <span class="sr-only">Open main menu</span>
          <Menu />
      </button>
    </div>

    <div
      id="navbar-menu"
      class:list={[
        "hidden w-full items-center justify-between",
        "md:flex md:w-auto md:order-1"
      ]}
    >
      <ul class:list={[
        "flex flex-col font-normal",
        "md:flex-row md:space-x-10",
        "p-4 mt-4",
        "md:p-0 md:mt-0"
      ]}>
        <li>
          <a href="#home" class:list={menuClass} aria-current="page">Home</a>
        </li>
        <li>
          <a href="#accessories" class:list={menuClass}>Accessories</a>
        </li>
        <li>
          <a href="#manual" class:list={menuClass}>Manual</a>
        </li>
        <li>
          <a href="#support" class:list={menuClass}>Support</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const menu = document.getElementById("nav")
  const offset = menu ? menu.offsetHeight : 0

  window.onscroll = () => {
    if (window.scrollY > offset - 5) {
      menu?.classList.add("sticky")
    } else if (window.scrollY < offset - 20) {
      menu?.classList.remove("sticky")
    }
  }
</script>

<style>
  @keyframes fadeInDown {
   from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    animation: fadeInDown 500ms;
  }
</style>
