---
import Menu from "./icon/Menu.astro"

const menuClass = [
  "block rounded py-3 px-2",
  "transition-colors duration-300",
  "text-gray-500 hover:text-white",
  "md:p-0",
]
---

<section class="selection-black text-white text-center bg-neutral-900 px-4 py-4 text-sm">
  Be part of the first wave of shipments starting August 4, 2023, and enjoy exclusive early bird merch with your purchase.
</section>
<nav>
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        JUPTR
      </span>
    </a>

    <div class="flex md:order-2">
      <button 
        type="button"
        class:list={[
          "text-sm font-medium rounded-full text-center",
          "text-black bg-white hover:bg-gray-100",
          "focus:ring-4 focus:outline-none focus:ring-indigo-300",
          "px-5 py-2 mr-3 md:mr-0",
          "transition-colors duration-300"
        ]}
      >
          Pre-order now
      </button>
      <button 
        type="button" 
        aria-expanded="false"
        aria-controls="navbar-cta" 
        data-collapse-toggle="navbar-cta"
        class:list={[
          "p-2 w-10 h-10 transition-colors",
          "inline-flex items-center justify-center rounded-lg md:hidden",
          "text-sm text-gray-500 hover:bg-gray-100/10",
          "focus:outline-none focus:ring-2 focus:ring-gray-600",
        ]}
      >
          <span class="sr-only">Open main menu</span>
          <Menu />
      </button>
    </div>

    <div 
      id="navbar-cta"
      class:list={[
        "hidden w-full items-center justify-between",
        "md:flex md:w-auto md:order-1"
      ]}
    >
      <ul class:list={[
        "flex flex-col font-medium",
        "md:flex-row md:space-x-10",
        "p-4 mt-4",
        "md:p-0 md:mt-0"
      ]}>
        <li>
          <a href="#" class:list={menuClass} aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class:list={menuClass}>Accessories</a>
        </li>
        <li>
          <a href="#" class:list={menuClass}>Manual</a>
        </li>
        <li>
          <a href="#" class:list={menuClass}>Support</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
