---
import Menu from "./icon/Menu.astro"

const menuClass = [
  "block rounded py-2 pl-3 pr-4",
  "text-white hover:bg-gray-100 transition-colors",
  "md:hover:bg-transparent md:hover:text-violet-700 md:p-0",
]

const activeMenuClass = [
  "block rounded py-2 pl-3 pr-4",
  "text-white bg-violet-700 transition-colors",
  "md:bg-transparent md:text-violet-500 md:p-0",
]
---

<nav class="border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center">
      <img
        src="/logo.svg" 
        class="h-8 mr-3"
        alt="JPTR Logo" 
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        JPTR Planar
      </span>
    </a>

    <div class="flex md:order-2">
      <button 
        type="button"
        class:list={[
          "text-sm font-medium rounded-lg text-center",
          "text-white bg-violet-700 hover:bg-violet-800",
          "focus:ring-4 focus:outline-none focus:ring-violet-300",
          "px-4 py-2 mr-3 md:mr-0",
        ]}
      >
          Get started
      </button>
      <button 
        type="button" 
        aria-expanded="false"
        aria-controls="navbar-cta" 
        data-collapse-toggle="navbar-cta"
        class:list={[
          "p-2 w-10 h-10 transition-colors",
          "inline-flex items-center justify-center rounded-lg md:hidden",
          "text-sm text-gray-500 hover:bg-gray-100/10",
          "focus:outline-none focus:ring-2 focus:ring-gray-600",
        ]}
      >
          <span class="sr-only">Open main menu</span>
          <Menu />
      </button>
    </div>

    <div 
      id="navbar-cta"
      class:list={[
        "hidden w-full items-center justify-between",
        "md:flex md:w-auto md:order-1"
      ]}
    >
      <ul class:list={[
        "flex flex-col font-medium",
        "md:flex-row md:space-x-8",
        "p-4 mt-4",
        "md:p-0 md:mt-0"
      ]}>
        <li>
          <a href="#" class:list={activeMenuClass} aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class:list={menuClass}>About</a>
        </li>
        <li>
          <a href="#" class:list={menuClass}>Services</a>
        </li>
        <li>
          <a href="#" class:list={menuClass}>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
