<div
  class="w-full h-[1px] my-16 md:my-32"
  style="background: linear-gradient(90deg,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(145, 145, 145, 0.60) 50%,
    rgba(0, 0, 0, 0) 100%)"
></div>

<section class="container mx-auto my-12 px-4 sm:px-0">
  <div class="text-center">
    <h2 class="text-3xl sm:text-4xl font-medium">Unleash the Power of Planar Technology</h2>
    <p class="text-lg sm:text-xl block my-6 lg:w-4/6 mx-auto font-thin text-neutral-400">With advanced technology and meticulous craftsmanship, these headphones redefine what you can expect from your music.</p>
  </div>

  <div class="my-12 flex flex-wrap">
    <div class="w-full md:w-7/12 flex items-center justify-center">
      <img src="/headphone2.png" alt="VENUS Planar Headphone" />
    </div>
    <div class="w-full md:w-5/12 flex items-center justify-center">
      <p class="text-2xl text-neutral-200 font-thin">
        In planar headphones, a symmetrical arrangement of grid-array magnets generates a parallel magnetic field that causes the diaphragm to vibrate. This uniform stress distribution offers advantages over dynamic driver headphones, resulting in lower split vibration distortion without the need for special materials.
      </p>
    </div>
  </div>
</section>
