<div
  class="w-full h-[1px] my-16 md:my-32"
  style="background: linear-gradient(90deg,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(145, 145, 150, 0.38) 50%,
    rgba(0, 0, 0, 0) 100%)"
></div>

<section class="container mx-auto my-12 px-4 sm:px-0">
  <div class="my-12 flex flex-wrap">
    <div class="w-full lg:w-7/12 flex flex-col items-center justify-center">
      <img
        src="/venus_3.jpeg"
        alt="VENUS Planar Headphone"
        class="rounded-xl"
      />
    </div>
    <div class="w-full lg:w-5/12 flex flex-col text-left py-5 sm:px-12">
      <h2 class="text-xl sm:text-2xl font-bold mb-6">With advanced technology and meticulous craftsmanship, these headphones redefine what you can expect from your music.</h2>
      <p class="text-lg sm:text-xl block mb-6 text-gray-400">
        The frequency response curve of Venus is highly consistent with HRTF (Head Related Transfer Function), and the nonlinear distortion is less than 0.05%. The distortion is ultra-low even under loud pressure.
      </p>
      <p class="text-lg sm:text-xl block mb-6 text-gray-400">
        Venus is the master of acoustic technology of MOONDROP, which highly pursues the uniform and linear structural design and special technology in all aspect.
      </p>
      <p class="text-lg sm:text-xl block mb-6 text-gray-400">
        The cutting-edge design of Venus extends beyond its impressive technical specifications. MOONDROP has seamlessly blended aesthetics with functionality, ensuring that these headphones not only deliver exceptional sound quality but also boast a sleek and modern appearance.
      </p>
    </div>
  </div>
</section>
