---
import Divider from "../Divider.astro"
import Buy from "../button/Buy.astro"
---

<Divider className="my-16 sm:my-32" />

<section class="container mx-auto my-12 px-4">
  <div class="my-12 flex flex-wrap">
    <div class="w-full">
      <small class="block mb-2 text-gray-600 uppercase">100mm Sub-Nanometer Diaphragm</small>
      <h2 class="text-3xl sm:text-4xl font-medium mb-4 !leading-[2.75rem]">Redefine what you can expect from music.</h2>
      <p class="text-lg sm:text-xl font-thin block mb-8 text-gray-400">
        VENUS is the master of acoustic technology of MOONDROP®, which highly pursues the uniform and linear structural design and special technology in all aspect.
      </p>
    </div>
    <div class="w-full lg:w-7/12 flex flex-col items-center justify-center">
      <img
        src="/venus_3.jpeg"
        alt="VENUS Planar Headphone"
        class="rounded-xl"
      />
    </div>
    <div class="w-full lg:w-5/12 flex flex-col text-left px-0 lg:px-12 py-8 lg:py-0">
        <p class="text-lg font-thin block mb-6 text-gray-400">
          The frequency response curve of VENUS is highly consistent with HRTF (Head Related Transfer Function), and the nonlinear distortion is less than 0.05%. The distortion is ultra-low even under loud pressure.
        </p>
        <p class="text-lg font-thin block mb-6 text-gray-400">
          The cutting-edge design of VENUS extends beyond its impressive technical specifications. MOONDROP® has seamlessly blended aesthetics with functionality, ensuring that these headphones not only deliver exceptional sound quality but also boast a sleek and modern appearance.
        </p>
        <div>
          <Buy text="Get VENUS now" />
        </div>
    </div>
  </div>
</section>
