---
export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://api.fontshare.com/v2/css?f[]=switzer@400,300,500&f[]=panchang@700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	::selection {
		background: #ffffff30;
	}
 	body {
		font-family: 'Switzer', sans-serif !important;
		background-color: #000;
		color: #fff;
		cursor: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='white' fill-opacity='0.47'/%3E%3C/svg%3E%0A"), default;
	}
	.cursor-lg {
    cursor: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='white' fill-opacity='0.47'/%3E%3C/svg%3E%0A"), pointer;
    transition: cursor ease-in 2s;
	}
</style>
