---
export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://api.fontshare.com/v2/css?f[]=switzer@800,700,400,300,500&f[]=panchang@700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	::selection {
		background: #ffffff30;
	}
 	body {
		font-family: 'Switzer', sans-serif !important;
		background-color: #000;
		color: #fff;
	}
</style>
